---
import { HygraphUseCase } from '../../bff/use-case/hygraph';
import Layout from '../../layouts/Layout.astro';

const { lang } = Astro.params;
const data = await HygraphUseCase.GetPage.execute({ slug: "index", locale: lang, locales: [lang]})

export async function getStaticPaths() {
  return await HygraphUseCase.GetBlogStaticParams.execute();
}
---

<Layout title="Welcome to Hygraph.">
  <main>
    <h1>Welcome to <span class="text-gradient">Hygraph</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages/hygraph</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <section class="max-w-full overflow-auto">
      <pre>
        {JSON.stringify(data, null, 2)}
      </pre>
    </section>
    
  </main>
</Layout>