---
import Layout from '@layouts/Layout.astro';
import { StaticUseCase } from '@use-case/static';

export async function getStaticPaths() {
  return StaticUseCase.Blog.GetSlugStaticParams.execute('blog');
}

const { page } = Astro.props
const { Content } = await page.render();
---

<Layout title="Welcome to Netlify.">
  <main>
    <h1>Welcome to <span class="text-gradient">Netlify</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages/netlify/[...slug]</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Content />
  </main>
</Layout>

